@import "tailwindcss";

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1e293b;
  /* Slate 800 - Sophisticated dark/black */
  --color-primary-light: #334155;
  /* Slate 700 */
  --color-background-light: #f9fafb;
  /* Gray 50 - Softer, cleaner background */
  --color-card-light: #ffffff;
  --font-display: "Inter", sans-serif;
  --font-sans: "Inter", sans-serif;
  --radius: 0.5rem;
}